

<!DOCTYPE html>
<html dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITSpark_Task</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITSpark_Task.styles.css" asp-append-version="true" />
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between ">

            <div class="container">

        <!--Start Of Image NavBar -->
     
            <a class="navbar-brand" href="#">
                <img src="~/css/Images/itspark_Logo.png" alt="Logo" width="100" height="50" class="d-inline-block align-text-top">
            </a>

        <!--End Of Image NavBar -->      
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                   
                <div class="dropdown ">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        @ViewBag.Languages
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <li>
                            <a asp-controller="Students" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                <i class="flag-icon flag-icon-gb"></i>  @ViewBag.English
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Students" asp-action="ChangeLanguage" asp-route-culture="ar-EG" class="dropdown-item">
                                <i class="flag-icon flag-icon-gb"></i>  @ViewBag.Arabic
                            </a>
                        </li>
                     
                    </ul>
                </div>
                </ul>
            </div>
        </div>
        </nav>

  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




